<ol class="post-list">
  {{!-- any code between 'each' will be repeated for every item in posts array --}}
  {{!-- declaring posts as 'post' to make template more readable --}}
  {{#each posts as |post|}}
  <li>
    {{!-- for a partial, you need a '>' character followed by the name of the partial file --}}
    {{!-- and the object you'll pass to the partial --}}
    {{> post-info post}}
  </li>
  {{/each}}
</ol>